.nn{
    width: 250px;
}
body {
  text-align: center;

    margin:25px;
    background-image: url("https://i.pinimg.com/564x/44/ae/ff/44aeff98566d3e518153f3ef4c2974df.jpg") ;}
.polaroid {
  margin: 20px;
  padding: 20px;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.polaroid:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 #195080;

}
div.container {
  text-align: center;
  padding: 10px 20px;
}
